* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(190, 255, 238);
}

button {
  cursor: pointer;
}

.card {
  .question {
    font-weight: 600;
  }
}

.qa-form {
  width: 90ch;
  padding: 1em;

  .input_component {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    &.hide {
      display: none;
    }
  }

  textarea {
    height: 20ch;
    outline: none;
    border: none;
    padding: 10px 15px;
    background-color: rgba(144, 209, 192, 0.8);
    resize: none;
  }

  button[type="submit"] {
    width: 100%;
    height: 32px;
    background-color: rgb(131, 208, 187);
    border: none;
    font-weight: 600;
    letter-spacing: 2px;

    &:hover {
      background-color: rgb(120, 197, 176);
    }
  }
}
